* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #FBDDE6;
    padding: 60px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #FA92B3;
    
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;
    float: right;
}

li {
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

a {
    color: #7A6C70;
    text-decoration: none;
}
div {
    background-color: #FFFFFF ;
    padding: 10px 0 40px 0;
    margin: auto 150px auto 150px;

}
.formulario {
    margin-left: 150px;
    align-items: left;
    text-align: left;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
 }
h1 {
    color: #A7D9C6;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
    letter-spacing: 5px;
}
h2 {
    color: #7A6C70;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;

}
label {
    color: #FA92B3;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;

}
input {
    outline-color: #A7D9C6;
    
}
.mensagem {
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;  
}
.texto {
    height: 30px;
    padding: 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
button {
    background-color: #A7D9C6;
    color: #7A6C70;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    border: #FA92B3;
    padding: 10px 20px;
    cursor: pointer;
}
.livros {
    width: 200px;
    display: inline-block;
   margin: auto 20px auto 200px;
}