* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBECCD;
    padding: 60px;
    height: 1000px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #F2B999;    
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
}

li {
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

a {
    color: #473E40;
    text-decoration: none;
}
section {
    background: #FFFFFF;
    margin-top: 10%;
    text-align: center;
    display: inline-block;
}

.img-bio {
    width: 300px;
    display: inline-block;

}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 20px;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}